* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
}

.form {
    box-shadow: 1px 1px 10px #888;
    border-radius: 10px;
    padding: 5rem;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

.title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.form-input {
    display: block;
    width: 70%;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 2rem;
}

.login-btn {
    background-color: rgb(90, 40, 216);
    color: #fff;
    padding: .8rem 1.2rem;
    width: 50%;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;     
}